body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

#project-nav {
  position: fixed;
  bottom: 0;
  right: 0;
}

#project-nav ul {
  display: flex;
  padding-right: 1rem;
  list-style: none;
}

#project-nav li {
  margin-left: 1rem;
}

#project-nav a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

#project-nav ul li:first-of-type a:before {
  content: '‹‹';
  margin-right: 0.5rem;
}

#project-nav ul li:last-of-type a:after {
  content: '››';
  margin-left: 0.5rem;
}
