body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

#project-nav {
  position: fixed;
  top: 0;
  left: 0;
}

#project-nav ul {
  padding-left: 0;
}

#project-nav li {
  margin-left: 1rem;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.62);
}

#project-nav li.active {
  color: white;
}

#project-nav li:last-of-type {
  margin-bottom: 0;
}

#project-nav a {
  color: inherit;
  text-decoration: none;
}

.description {
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.description a {
  color: white;
}
